html {
  height: 100%;
}
/* CSS Document */

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}



#FixedFooter {
  padding: 0px;
  height: 60px;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background-color: #333;
  z-index: 1000;
  margin: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666;
}
.WrapperMiddle {
  padding: 0px;
  height: 450px;
  width: 960px;
  overflow: hidden;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.WrapperSpacer {
  margin: 0px;
  padding: 0px;
  height: 0px;
  width: 100%;
}
.IntroPage_bg {
  background-color: #333;
  height: 100%;
  width: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  padding: 0px;
  margin-top: 0px;
}
.WhatWeDo {
  background-color: #0CF;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
}
.WhatWeDo2 {
  background-color: #CCC;
  height: 100%;
  width: 100%;
  position: relative;
  margin-right: 0px;
  padding: 0px;
}
.FontSocial {
  font-family: Lora, Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  color: #CCC;
  line-height: 30px;
}
.FontLoraGrey14 {
  font-family: Lora, Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  color: #333;
}
.FontSocial:hover {
  color: #0CF;
}
.FontLora32Grey {
  font-family: Lora, Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  color: #CCC;
}
.FontScrollPageHeadingsBig {
  font-family: Oswald, Tahoma, Geneva, sans-serif;
  font-size: 100px;
  color: #333;
}
.FontOswaldGrey18 {
  font-family: Oswald, Tahoma, Geneva, sans-serif;
  font-size: 18px;
  color: #333;
}
.FontOswaldGrey24 {
  font-family: Oswald, Tahoma, Geneva, sans-serif;
  font-size: 32px;
  color: #333;
}
.FontOswaldWhite24 {
  font-family: Oswald, Tahoma, Geneva, sans-serif;
  font-size: 32px;
  color: #CCC;
}
.FontMenuGrey {
  font-family: Oswald, Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: #CCC;
}

.FontMenuBlue {
  font-family: Oswald, Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: #0CF;
}
